*
{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

@font-face {
    font-family: pixel;
    src: url(fonts/pixellari.ttf);
}

html
{
    scroll-behavior: smooth;
}

body
{
    color: #FFFFFF;
    font-size: 30px;
    font-family: pixel;
}

header.subHeader
{
    background: #3b0172;
    color:#000000;
    font-family: pixel;
    font-size: 25px;
    height: 40px;
    display: flex;
    align-items: center;
}

main
{
    image-rendering: pixelated;
    background-image: url(img/neonCitySunrise.png);
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 300px;
    padding-right: 300px;
}

section
{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

section > img
{
    margin: 10px;
    border-radius: 10px;
    max-width: 800px;
    max-height: 800px;
}

header, footer
{
    background: #230044;
    color:#FFFFFF;
    font-family: pixel;
    font-size: 60px;
    height: 140px;
    display: flex;
    align-items: center;
    padding-left: 25px;
} 

img.profile
{
    Width: 200px;
    height: 200px;
}

img.bigButton
{
    width: 250px;
    height: 250px;
}

a
{  
    margin-right: 25px;
    margin-left: 25px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

img.bigButton :hover
{
    rotate: 15;
}

footer > div.buttonBox > a :hover
{
    border-radius: 100px;
    background-color: #6900CB;
}

a :hover
{
    text-decoration: underline;
}

a > h2
{
    color: #ffffff;
    padding: 10px;
    font-size: 50px;
}

a:link, a:visited 
{
    color: #FFFFFF;
    text-decoration: none;
}

h1
{
    padding-top: 10px;
    text-decoration: none;
    text-decoration: underline;
}

h2
{
    padding-top: 30px;
    font-size: 25px;
}

h2 > a
{
    padding: 0px;
}

ul
{
    font-size: 40px;
    text-decoration: underline;
}

footer > ul
{
    font-size: 50px;
    text-decoration: none;
}

div.buttonBox
{
    justify-content: center;
    align-items: center;
    margin-left: auto; 
    display:flex;
    flex-direction: row;
}

div.buttonBox > a
{
    justify-content: center;
    align-items: center;
}

div.verticalBox
{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding:20px;
}

header > div.verticalBox 
{
    align-items: flex-start;
}

a > img
{
    max-width: 400px;
    max-height: 400px;
    padding: 15px;
    display: flex;
    width:100px;
    height:100px;
}

a > img.project
{
    border-radius: 35px;
    max-width: 1000px;
    max-height: 1000px;
    display: flex;
    width: 386px;
    height: 216px;
}

img.largeProject
{
    border-radius: 25px;
    max-width: 1000px;
    max-height: 1000px;
    width: 772px;
    height: 432px;
}

@media screen and (max-width: 1000px)
{
    
}